body {
margin: 0px;
overflow: hidden;

}


.sky {
  background: url("img/sky.png");
  width: 100vw;
  height: 100vh;
  position: relative;
  background-size: cover;
}


.daytime {
  background: url("img/daytime.png");
  height: 360px;
  width: 500%;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.jin img {
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 120px;
}

@keyframes moving {
  100% {
    transform: translateX(-3000px);
  }
}

@keyframes bouncing {
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
  0% {
    transform: translateY(0px);
  }
}

.moving {
  animation: moving 10s linear infinite;
}

.bouncing {
  animation: bouncing 1s linear infinite;
}
